.currentUserNav{
    position:relative;
    animation-name:currentuser;
    animation-duration:2s;
    animation-fill-mode:forwards
}

@keyframes currentuser{
    0%{left:-300px}
    100%{left:0px;}
}

.bounceName{
    position:relative;
    animation-name:bounce;
    animation-duration:5s;
     animation-iteration-count:infinite; 
     
}

@keyframes bounce{
    0%{left:300px;top:-30px;}
    10%{left:100px;top:-60px;}
    20%{left:220px;top:-39px;}
    30%{left:45px;top:0px;}
    40%{left:30px;top:-12px;}
    50%{left:500px;top:-70px;}
    60%{left:100px;top:-30px;}
    0%{left:170px;top:-42px;}
    70%{left:528px;top:-92px;}
    80%{left:302px;top:-33px;}
    90%{left:517px;top:-130px;}
    100%{left:33px;top:-87px;}
}